 <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
          <div>
            <nav class="nav nav-masthead justify-content-center float-md-end">
              <a routerLink="home" id="home-link">Home</a>
              <a routerLink="/features" id="home-link">Features</a>
              <a routerLink="/team" id="home-link">Team</a>
            </nav>
          </div>
        </header>
      
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                    <!--Twitter icon here-->
                    <fa-icon [icon]="twitterIcon" id="twitterIcon"></fa-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h1>Twitter Topic Modeling</h1>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm">
                        <a routerLink="/login">
                            <button class="btn btn-outline" id="launch">Launch</button>
                        </a>
                    </div>
                </div>
            </div>
      
  


