<div class="container">
    <div class="row">
        <div class="col-sm">
        <!--Twitter icon here-->
        <fa-icon [icon]="twitterIcon" id="twitterIcon"></fa-icon>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1>Twitter Topic Modeling</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <a routerLink="/login">
                <button class="btn btn-outline" id="launch">Launch</button>
            </a>
        </div>
    </div>
</div>