<!--Home Component-->
<!--Contains topic modeling visuals-->

<h1>Home Page</h1>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">Twitter Topic Modeling</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Tweets or Users" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="searchBtn">Search</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item float-right">
            <button class="btn btn-dark" type="submit" id="logout">Log Out</button>
        </li>
      </ul>
  </nav>

  