/*Login Component Styles*/
/*Color Palete source: https://brandpalettes.com/twitter-colors/#:~:text=The%20Twitter%20colors%20consist%20of,extra%20light%20gray%20and%20white.*/

h1 {
    text-align:center;
}

.container {
    width:100%;
    max-width:500px;
    text-align:center;
    /*centers it on page*/
    padding: 150px 0;
}

/*userid and password blocks*/
#userid, #password {
    max-width:300px;
    /*centers the input blocks*/
    display:block;
    margin:auto;
}

/*login button styles*/
#login-btn {
    border-radius: 100px;
    border:2px solid rgba(101,119,134);
}
