<header class="mb-auto">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a routerLink="" id="home-link">Home</a>
        <a routerLink="/features" id="home-link">Features</a>
        <a routerLink="/team" id="home-link">Team</a>
      </nav>
    </div>
  </header>

<h1>Our Team</h1>

<div class="container">
  <div class="row">
    <!--Xavier-->
    <div class="col-md">
      <h2>Xavier Julius</h2>
      <p class="lead">API and Database Design</p>
    </div>
    <!--Emily-->
    <div class="col-md">
      <h2>Emily Grabb</h2>
      <p class="lead">Machine Learning Engineer</p>
    </div>
    <!--Olivia-->
    <div class="col-md">
      <h2>Olivia Warner</h2>
      <p class="lead">Front End Developer</p>
    </div>
  </div>
</div>