/*Report Component Styles*/
/*Color Palete Source: https://brandpalettes.com/twitter-colors/#:~:text=The%20Twitter%20colors%20consist%20of,extra%20light%20gray%20and%20white.*/

.reportItem{
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
}

#reports-heading {
  font-size: 50px;
}