/*Report Component Styles*/
/*Color Palete Source: https://brandpalettes.com/twitter-colors/#:~:text=The%20Twitter%20colors%20consist%20of,extra%20light%20gray%20and%20white.*/

.reportItem{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  row-gap: 1rem;
  flex-direction:  column;
  padding-bottom: 1rem;
}

#reports-heading {
  font-size: 50px;
}

.view-report
{
  background-color: #1DA1F2;
  display: flex;

}

