/*Dashboard Component Styles*/
/*Color Palete Source: https://brandpalettes.com/twitter-colors/#:~:text=The%20Twitter%20colors%20consist%20of,extra%20light%20gray%20and%20white.*/

html {
    width:100%;
}
#reportsLink {
    font-weight: 500;
    color: rgba(101,119,134);
    padding:10px;
    text-decoration: none;
    font-size: 60px;
}


#reportsLink:hover{
    color: #1DA1F2;
}

#userInput {
    max-width:800px;
}

#dashboard {
    padding-top:30px;
    padding-left:30px;
    padding-right: 20px;
    padding-bottom: 5px;
}

#visuals {
    padding: 150px;
}

.navbar-brand {
padding:30px;
padding-right: 10px;
}

#dash-brand {
    color: #1DA1F2;
}

#sign-out {
    padding-top: 4px;
    padding-left: 40px;
}

#signoutLink {
    padding:10px;
    background-color: #14171A;
    border-radius: 6px;
}

#signoutBtn {
    color:white;
}

#signoutBtn:hover {
    color:#AAB8C2;
}

#searchUserBtn {
    background-color: #1DA1F2;
    color:white;
}

#dashboard-heading {
    font-size: 40px;
    font-weight: 700;
}

.visuals-container
{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "header header"
    "left right";
  column-gap: 1rem;
  padding: 2rem;

}


.report-header
{
  grid-area: header;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: .25rem;
}

.viewport {
  height: 700px;
  width: 100%;
  background: #C4BBB8;
  box-shadow: 1px 1px 1px grey;
}

.tweet
{
  padding-bottom: 1rem;
}

.malflag
{
  font-size: 15px;
  font-weight: 500;
  color: crimson;
  flex: auto;
}

.report-date
{
  font-size: 15px;
  color: gray;
}

