<!--Dashboard Component-->
<!--Contains Topic Modeling Visuals-->

<!--Resource: Bootstrap Dashboard Example Revised-->

<!--Navigation Header-->
<nav class="navbar flex-md-nowrap p-0 shadow" id="dash-nav">
    <!--Twitter Icon and Application Name-->
    <nav class="navbar-brand" id="dash-brand"> <fa-icon [icon]="twitterIcon" id="twitterIcon"></fa-icon> Twitter Topic Modeling System</nav>

    <!--Search Twitter Username Bar-->
    <div class="input-group">
      <input class="form-control" type="text" [(ngModel)]="twitterUsername" placeholder="Search Twitter Username..." id="userInput">
      <!--Search User Button-->
      <div class="input-group-append">
        <button class="btn" type="button" id="searchUserBtn" (click)="searchTwitterUser(twitterUsername)"><fa-icon [icon]="searchIcon" id="searchIcon"></fa-icon></button>
      </div>

      <!--Sign Out Button-->
      <ul class="nav navbar-right" id="sign-out">
        <li class="nav-item text-nowrap">
        <a [routerLink] = "['']" id="signoutLink"><button type="button" class="btn btn-sm" id="signoutBtn">Sign Out</button></a>
        </li>
      </ul>

    </div>
  </nav>

        <!--Dashboard Heading Class-->
        <div class="d-flex justify-content-between align-items-center" id="dashboard">
          <h1 id="dashboard-heading">Dashboard</h1>

            <!--Report and CSV Button Group-->
            <div class="btn-group me-2" id="dashBtns">
              <a [routerLink] = "['/reports']" id="reportsLink"><button type="button" class="btn btn-sm btn-outline-primary"><fa-icon [icon]="reportsIcon" id="reportsIcon"></fa-icon> View Reports</button></a>
              <a (click)="exportCSV()" id="reportsLink"><button type="button" class="btn btn-sm btn-outline-success"><fa-icon [icon]="csvIcon" id="csvIcon"></fa-icon> Export CSV</button></a>
            </div>
        </div>

        <hr>

        <!--Topic Modeling Visuals-->
        <ng-container *ngIf="!isLoading; else loadingSpinner">
          <div class="visuals-container" *ngIf="!!report">
            <div class="report-header">
             <span>{{report.reportName}}</span>
             <span class="report-date">{{report.createdAt | date:'medium'}}</span>
             <span class="malflag" *ngIf="report.malFlag">Malicious Conent</span>
            </div>
            <!--left hand side where tweets are displayed-->
              <div>
                <cdk-virtual-scroll-viewport itemSize="100" class="viewport">
                <mat-card class="tweet" *cdkVirtualFor="let tweet of report.reportTweets">
                  <mat-card-subtitle>{{tweet.createdAt | date:'medium'}}</mat-card-subtitle>
                  {{tweet.text}}
                </mat-card>
              </cdk-virtual-scroll-viewport>
              </div>
              <!--right hand side where visuals are displayed-->
              <div>
                <div class="bar-warpper" >
                  <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
                    </canvas>
                </div>
                <div class="line-wrapper">
                  <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
                </canvas>
                </div>
              </div>

          </div>
        </ng-container>
        <ng-template #loadingSpinner>
          Loading.....
        </ng-template>











