#searchLink,#reportsLink {
    font-weight: 500;
    color: rgba(101,119,134);
    padding:10px;
    text-decoration: none;
    font-size: 60px;
}

#searchLink:hover{
    color: rgba(29,161,242);
}
#reportsLink:hover{
    color: rgba(29,161,242);
}
