html {
    width:100%;
}
#reportsLink {
    font-weight: 500;
    color: rgba(101,119,134);
    padding:10px;
    text-decoration: none;
    font-size: 60px;
}


#reportsLink:hover{
    color: rgba(29,161,242);
}

#userInput {
    max-width:800px;
}

#dashboard {
    padding-top:30px;
    padding-left:30px;
    padding-right: 20px;
    padding-bottom: 5px;
}

#visuals {
    padding: 150px;
}

.navbar-brand {
padding:30px;
padding-right: 10px;
}

#dash-brand {
    color: rgba(29,161,242);
}

#sign-out {
    padding-top: 4px;
    padding-left: 40px;
}

#dashboard-heading {
    font-size: 40px;
    font-weight: 700;
}

.visuals-container
{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "header header"
    "left right";
  column-gap: 1rem;

}


.report-header
{
  grid-area: header;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 2rem;
}

.viewport {
  height: 600px;
  width: 100%;
  background: #C4BBB8;
  box-shadow: 1px 1px 1px grey;
}

.tweet
{
  padding-bottom: 1rem;
}

.malflag
{
  font-size: 15px;
  font-weight: 500;
  color: crimson;
}

