<!--Dashboard Component-->
<!--Contains topic modeling visuals-->
<!--Resource: Bootstrap Dashboard Example Revised-->

<!--Navigation Header-->
<nav class="navbar flex-md-nowrap p-0 shadow" id="dash-nav">
    <nav class="navbar-brand" id="dash-brand"> <fa-icon [icon]="twitterIcon" id="twitterIcon"></fa-icon> Twitter Topic Modeling System</nav>
    <!--Search twitter user name bar-->
    <div class="input-group">
      <input class="form-control" type="text" [(ngModel)]="twitterUsername" placeholder="Search Twitter Username..." id="userInput">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="searchTwitterUser(twitterUsername)"><fa-icon [icon]="searchIcon" id="searchIcon"></fa-icon></button>
      </div>

      <ul class="nav navbar-right" id="sign-out"> 
        <li class="nav-item text-nowrap">
        <a [routerLink] = "['']" id="signoutLink"><button type="button" class="btn btn-sm btn-secondary">Sign Out</button></a>
        </li>
      </ul>

    </div>
  </nav>

        <div class="d-flex justify-content-between align-items-center" id="dashboard">
          <h1 id="dashboard-heading">Dashboard</h1>
            <div class="btn-group me-2" id="dashBtns">
              <a [routerLink] = "['/reports']" id="reportsLink"><button type="button" class="btn btn-sm btn-outline-primary"><fa-icon [icon]="reportsIcon" id="reportsIcon"></fa-icon> View Reports</button></a>
              <a (click)="exportCSV()" id="reportsLink"><button type="button" class="btn btn-sm btn-outline-success"><fa-icon [icon]="csvIcon" id="csvIcon"></fa-icon> Export CSV</button></a>
            </div>
        </div>

        <hr>

        <!--Topic Modeling Visuals-->
        <div class="visuals-container">
          
        </div>



 

      


