/*Login Component Styles*/
h1 {
    text-align:center;
}

.container {
    width:100%;
    max-width:500px;
    text-align:center;
    /*centers it on page*/
    padding: 150px 0;
}

#userid, #password {
    max-width:300px;
    /*centers the input blocks*/
    display:block;
    margin:auto;
}