<!--Login Component-->

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Sign in</h1>
        </div>
    </div>
    <form>
    <div class="row">
        <div class="col-sm mb-3">
                <input [(ngModel)]="userid" class="form-control form-control-lg" id="userid" name="password" placeholder="User ID" required>
        </div>
    </div>
        <div class="row">
            <div class="col-sm mb-3">
                <input type="password" [(ngModel)]="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm mb-3">
                <button class="btn btn-dark" (click)="goHome()" id="login-btn">Log in</button>
            </div>
        </div>
    </form>
</div>






