/*Team Component Styles*/
/*Color Palete Source: https://brandpalettes.com/twitter-colors/#:~:text=The%20Twitter%20colors%20consist%20of,extra%20light%20gray%20and%20white.*/

.nav {
    font-size: 20px;
}
.nav-masthead #home-link{
    font-weight: 500;
    color: #657786;
    padding:1rem;
    text-decoration: none;
}

.nav-masthead #home-link:hover {
    color:#1DA1F2;
}

#team-heading {
    font-size: 50px;
    font-weight: 500;
}

#team-cards {
    padding-top: 50px;
}

#userIcon {
    font-size: 45px;
}

#sruLink {
    color:black;
}

#sruLink:hover {
    color: #2e6d56;
    text-decoration: none;
}

#linkedinIcon {
    font-size: 28px;
}

#linkedinIcon:hover {
   cursor:pointer;
   color:#657786;
}

#githubIcon {
    font-size: 28px;
    padding: 7px;
}

#githubIcon:hover {
    cursor:pointer;
    color:#657786;
}