<!--Home Component-->

<!--Navigation Links-->
<!--Router Links: https://angular.io/guide/router-->
<header class="mb-auto">
    <nav class="nav nav-masthead justify-content-center">
        <a routerLink="" id="home-link">Home</a>
        <a routerLink="/features" id="home-link">Features</a>
        <a routerLink="/team" id="home-link">Team</a>
    </nav>
</header>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                    <!--Twitter Icon-->
                    <fa-icon [icon]="twitterIcon" id="twitterIcon"></fa-icon>
                    </div>
                </div>

                <!--Application Title-->
                <div class="row">
                    <div class="col-sm">
                        <h1 id="launch-txt"><b>Twitter Topic Modeling System</b></h1>
                    </div>
                </div>
                <br>
                <!--Launch Button-->
                <div class="row">
                    <div class="col-sm">
                        <!--Launches the login screen-->
                        <a [routerLink] = "['/login']" >
                            <button class="btn btn-outline" id="launch">Launch</button>
                        </a>
                    </div>
                </div>
            </div>




