/*Home Component Styles*/
/*Color Palete Source: https://brandpalettes.com/twitter-colors/#:~:text=The%20Twitter%20colors%20consist%20of,extra%20light%20gray%20and%20white.*/

h1 {
    text-align:center;
}

.nav {
    font-size: 20px;
}

.nav-masthead #home-link{
    font-weight: 500;
    color: #657786;
    padding:1rem;
    text-decoration: none;
}
.nav-masthead #home-link:hover {
    color:#1DA1F2;
}


/*Heading and Btn container centered vertically and horizontally*/
.container {
    width:100%;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#twitterIcon {
    color:#1DA1F2;
    font-size: 80px;
}

/*Launch btn that takes you to login screen*/
#launch{
    border-radius: 100px;
    border:2px solid #1DA1F2;
    font-size:25px;
}

#launch:hover{
    background-color:#1DA1F2;
    color:white;
}

#launch-txt {
    font-size: 35px;
    padding: 18px;
}