<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a routerLink="" id="home-link">Home</a>
        <a routerLink="/features" id="home-link">Features</a>
        <a routerLink="/team" id="home-link">Team</a>
      </nav>
    </div>
  </header>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Features</h1>
      <p class="lead"></p>
    </div>
  </div>